@tailwind base;
@tailwind components;
@tailwind utilities;

.form input {
  display: block;
  margin-bottom: 0.5rem;
  border: 1px solid #071527;
  border-radius: 0.25rem;
  padding: 0.1rem;
}

.form {
  width: 400px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

@media print {
  .print-button {
    display: none;
  }
}

.out-of-stock {
  background-color: red;
}

.active {
  border-bottom: 6px solid rgb(233, 155, 10);
  background-color: rgb(4, 37, 37);
  padding: 0 1rem;
  color: antiquewhite;
  border-radius: 8px;
}

/* Media query for print */
@media print {
  .bg-color {
    -webkit-print-color-adjust: exact;
    /* For Chrome and Safari */
    color-adjust: exact;
    /* For Firefox */
    background-color: #669999;
    /* Set the background color for printing */
  }
}
